.git
.github
.gitignore
.editorconfig
.phpunit.result.cache
.phpunit.cache
node_modules
npm-debug.log
yarn-error.log
vendor
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
Dockerfile
docker-compose*.yml
.env
.env.backup
.env.production
*.md
